<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.micronurse">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="MicroNurse.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="org.micronurse.database.model.LoginUserRecord" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="org.micronurse.database.serializer.BitmapSerializer" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.older.OlderMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.sms.SmsVerifyActivity"
            android:label="SmsVerifyActivity"/>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/action_new_user"
            android:parentActivityName=".ui.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.micronurse.ui.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.older.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.activity.older.OlderMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.micronurse.ui.activity.older.OlderMainActivity" />
        </activity>
    </application>

</manifest>